@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@800&family=Fira+Sans:wght@800&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Roboto:wght@400;500;900&family=Rubik:wght@900&display=swap');
// font-family: 'Baloo Bhaijaan 2', cursive;
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Lobster', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Rubik', sans-serif;
$green : green;
$blue: blue;
$pink : #FF00FF;
$primary: $pink;
$basecolor : #09d8e4;

:root {
  --header-height: 120px;
  --header-height-mobile: 50px;
  --footer-height:50px;
}
$headerHeight : 120px;
$headerHeightMobile : 50px;
$footerHeight : 50px;

$mobileMax : 600px;
$tablet : 601px;
$laptop : 901px;
$desktop : 1100px;


html,body,*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
}
.d-flex{
  display: flex;
}
.flex-direction-row{
  flex-direction: row;
}
.flex-direction-column{
  flex-direction: column;
}
.align-items-center{
  align-items: center;
}
.align-items-start{
  align-items: flex-start;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-start{
  justify-content: flex-start;
}
.justify-content-end{
  justify-content: flex-end;
}
.justify-content-space-between{
  justify-content: space-between;
}
.flex-wrap-wrap{
  flex-wrap: wrap;
}
.h-100{
  height:100%;
}
.ml-auto{
  margin-left: auto;
}
.mt-auto{
  margin-top:auto;
}
.p-5{
  padding:5px;
}
.p-10{
  padding:10px;
}
.p-15{
  padding:15px;
}
.pl-10{
  padding-left:10px;
}
.pl-15{
  padding-left:15px;
}
.pr-15{
  padding-right:15px;
}
.mt-5{
  margin-top:5px;
}
.mb-15{
  margin-bottom:15px;
}
select, textarea, input{
  border:1px solid #DADFE3;
  background:#fff;
  color:#094566;
  outline: none;
  &:focus{
    box-shadow:0 0px 2px rgba(0,0,0,0.2);
  }
}
 button{
   outline:none;
   border:1px solid transparent;
   cursor: pointer;
   transition: all 0.3s linear;
   border-radius:2px;
   &:hover{
     box-shadow: 0 1px 3px rgba(0,0,0,0.6);
   }
 }
.container{
  padding-left:15px;
  padding-right:15px;
}
@media only screen and (min-width: $laptop) {
.d-flex-tablet{
  display: flex;
}
}
header{
  height:$headerHeightMobile;
  align-items: flex-start;
  @media only screen and (min-width: $laptop) {
    height:$headerHeight;
  }
}
main{
  min-height:calc(100vh - var(--header-height-mobile)); 
  @media only screen and (min-width: $laptop) {
    min-height:calc(100vh - var(--header-height) - var(--footer-height)  ); 
    justify-content: space-between;
  }
}
.logo{
  font-size:20px;
  font-weight:bold;
  color:$primary;
  display:inline-block;
  img{
    margin-top:5px;
    max-width:120px;
    display: block;
    @media only screen and (min-width: $laptop) {
      max-width:180px;
    }
  }
}
.connect-wallet{
  color:$primary;
  color: #fff;
  padding:10px 15px;
  background:$primary;
  border-radius:5px;
  font-weight:500;
  cursor: pointer;
  margin-top: 13px;
}

.left-panel{
  @media only screen and (min-width: $laptop) {
    height:calc(100vh - var(--header-height) - var(--footer-height)  ); 
  }
}
.middle-panel{
  @media only screen and (min-width: $laptop) {
    padding:0 15px;
  }
}
.right-panel{
  position: relative;
  z-index:1;
  @media only screen and (min-width: $laptop) {
    width: 300px;
  } 
  @media only screen and (min-width: $desktop) {
    width: 380px;
  } 
}

.frame-listing{
  max-width:100%;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  height:50vh;
  justify-content: center;
  margin-bottom:15px;
  @media only screen and (min-width: $tablet) {  
    height:100%;
    justify-content: start;
  }
  @media only screen and (min-width: $laptop) {
    width:180px;
  }
  @media only screen and (min-width: 1000px) {
    width:290px;
    margin-bottom: 0;
  }
  @media only screen and (min-width: $desktop) {
    width:380px;
  }
}

.frame-listing-block{
  width:120px;
  height:120px;
  margin-bottom:7px;
  margin-right:7px;
  margin-left:7px;
  background:#fff;
  display:inline-block;
  //margin:5px;
  border:1px solid gray;
  @media only screen and (min-width: $desktop) {
    width:160px;
    height:160px;
  }
  .frame{
    width:100%;
    height:100%;
    background-size:100% 100%;
    background-repeat: no-repeat;
  }
  &:nth-child(1){
    position: relative;
    &:after{
      content:'No frame';
      pointer-events: none;
      position: absolute;
      width:100%;
      top:48%;
      text-align: center;
      display: block;
    }
  }
}

@media only screen and (min-width: 1100px) {
.frame-listing-block{
    &:nth-child(2n){
      margin-left:0;
      margin-right:7px;
    }
  }
}
 

.frame-block{
  width:100%;
  height:400px;
  //border:4px solid #fff;
  max-width:100%;
  position: relative; 
  margin-bottom:15px;
  border-radius:2px;
  @media only screen and (min-width: $laptop) {
    width:300px;
    height:300px;
  }
  @media only screen and (min-width: $desktop) {
    margin-bottom:0;
    width:480px;
    height:480px;
    margin-left: auto;
    margin-right:auto;
  }
//   $mobileMax : 600px;
// $tablet : 601px;
// $laptop : 901px;
// $desktop : 1100px;

  .frame{
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size:100% 100%;
  }
  .frame-content{
    position: absolute;
    z-index:1;
    width:100%;
    height:100%;
    left:0;
    top:0;
    padding:15%;
    overflow: hidden;
    pre{
      width:100%;
      height:100%;
      position: relative;
      left:0;
      top:0;
      overflow: hidden;
      white-space: pre-wrap;
    }
    .sign-content{
      width:25%;
      height:25%;
      position: relative;
      left:37.5%;
      bottom:25%;
      overflow: hidden;
      z-index: 2;
      white-space: pre-wrap;
    }
  }
  @media only screen and (min-width: $laptop) {
    // width:800px;
    // height:800px;
  }
}

.color-picker-block{
  margin-bottom:15px;
  .color{
    color:#094566;
    font-weight:500;
  }
  .rc-color-picker-wrap {
    width:36px;
    height:36px;
    border-radius:3px;
    span{
      width:36px;
      height:36px;
      border:3px solid #fff;
    }
  }
}
.col-background{
  margin-right:30px;
  @media only screen and (min-width: $laptop) {
      margin-right:50px;
  }
};

.font-update-block{
  //margin-bottom:15px;
  .font-name-label, .font-size-label{
    font-weight:500;
    color:#094566;
  }
  select{
    border:1px solid #DADFE3;
    background:#fff;
    color:#094566;
    height:36px;
    font-weight:500;
    border-radius:3px;
    padding:0 10px;
  }
  select { 
    -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-right: 24px; 
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none" /></svg>') 100% 50% no-repeat #fff; } /* change or remove #fff color if not needed */
}
.font{
  margin-right: 30px;

};

.textarea-block{
  margin-bottom:15px;
  position: relative;
  @media only screen and (min-width: $laptop) {
    margin-bottom:0;
}
.message-label{
  font-weight:500;
  color:#094566;
}
  textarea{
    width:100%;
    max-width:100%;
    padding:15px;
    border-radius:4px;
    height:100px;
  }
  .emoji-block{
    position: absolute;
    right:0;
    top:-20px;
      .emoji-toggle{
        font-size:26px;
        padding:2px;
        cursor: pointer;
        border:1px solid transparent;
        position: relative;
        z-index:1;
        transition: all 0.3s linear;
        border-radius:50%;
        box-shadow:0 0 3px rgba(0,0,0,0.6);
        margin-bottom:3px;
      }
      .emoji-picker{
        position: absolute;
        right:40px;
        bottom:-40px;
        transition: all 0.3s linear;
        visibility: hidden;
        opacity:0;
        .emoji-picker-react{
            height:280px;
        }
      }
      &.active{
        .emoji-toggle{
          border-color: $primary;
          box-shadow:0 0 3px rgba(0,0,0,0.8);
        }
        .emoji-picker{
          bottom:0;
          visibility: visible;
          opacity:1;
        }
      }
  }
}

.recipient-block{
  .recipient-input{
    width:100%;
    padding:15px;
    border-radius:4px;
    height:50px;
  }
}
.price-block{
  margin-bottom: 40px;
  @media only screen and (min-width: $tablet) {
    margin-bottom:15px;
  }
  button{
    background:$basecolor;
    padding:15px 25px;
    margin-left:20px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:0 0 2px rgba(0,0,0,0.1);
    &:hover{
      box-shadow:0 2px 2px rgba(0,0,0,0.4);

    }
  }
}

.rc-color-picker-wrap{
  background-image: url('/images/transparent.png');
  height:20px;
}
.recipient-label{
  font-weight:500;
  color:#094566;
}
.price-label{
  font-weight:500;
  color:#094566;
  font-size:16px;
}

footer{
  //display: none;
  position: fixed;
  bottom:0;
  left: 0;
  right:0;
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  height: $footerHeight;
  padding-left:15px;
  padding-right:15px;
  a{
    margin-top: 10px;
  }
}
.footer-logo{
  margin-right:15px;
  img{
    max-width:90px;
  }
}

.upload-image-block{
  margin-top: 10px;
  margin-bottom:10px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-weight:500;
  color:#094566;
  input{
    position: absolute;
  }
  .btn-upload{
    border:2px solid #094566;
    padding:4px 15px;
    border-radius:15px;
    font-weight:500;
    cursor: pointer;
    transition: all 0.3 linear;
    &:hover{
      box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    }
  }
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  -webkit-animation: gradient-animation 4s ease infinite;
}

.top-bar-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.react-toggle-wrapper{
  height: 100%;
  display:flex;
  align-items: center;
}
